<!-- ==========Page Header Section Starts Here========== -->
<div class="pageheader" style="background-image:url(assets/images/bg/home1/1.webp)">
    <div class="container">
        <div class="pageheader__content">
            <h2>My Account</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Account</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- ==========Page Header Section Ends Here========== -->
<div class="container-xl px-4 mt-4  padding-top padding-bottom" *ngIf="!isLoading">
    <!-- Account page navigation-->
    <nav class="nav nav-borders" style="margin-bottom: 30px;">
        <a class="btn btn-primary" (click)="view = 'profile'">Profile</a>&nbsp;&nbsp;
        <a class="btn btn-primary" (click)="view = 'transaction'">Transactions</a>&nbsp;&nbsp;
        <a class="btn btn-primary" (click)="view = 'courses'">Courses</a>&nbsp;&nbsp;
        <a class="btn btn-danger" (click)="userLogout()">Logout</a>&nbsp;&nbsp;
    </nav>
    <div class="row" *ngIf="profiledata?.memstatus">
        <div class="col-lg-4 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-primary">
                <div class="card-body">
                    <div class="small text-muted">Current monthly bill</div>
                    <div class="h3">$20.00</div>
                    <a class="text-arrow-icon small" href="#!">
                        Switch to yearly billing
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <!-- Billing card 2-->
            <div class="card h-100 border-start-lg border-start-secondary">
                <div class="card-body">
                    <div class="small text-muted">Next payment due</div>
                    <div class="h3">July 15</div>
                    <a class="text-arrow-icon small text-secondary" href="#!">
                        View payment history
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <!-- Billing card 3-->
            <div class="card h-100 border-start-lg border-start-success">
                <div class="card-body">
                    <div class="small text-muted">Current plan</div>
                    <div class="h3 d-flex align-items-center">Freelancer</div>
                    <a class="text-arrow-icon small text-success" href="#!">
                        Upgrade plan
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning" *ngIf="!profiledata?.memstatus" role="alert">
        No Membership Active Currently
    </div>
    <!-- Billing history card-->
    <div class="card mb-4" *ngIf="view == 'transaction'">
        <div class="card-header">Payment History</div>
        <div class="card-body p-0" style="margin-bottom: 20px;">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                <table class="table mb-0" style="white-space: nowrap;">
                    <thead>
                        <tr>
                            <th class="border-gray-200">Payment ID</th>
                            <th class="border-gray-200">Amount</th>
                            <th class="border-gray-200">Currency</th>
                            <th class="border-gray-200">Date</th>
                            <th class="border-gray-200">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of transactions | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td>{{ data["transid"] }}</td>
                            <td>{{ data["amount"] }}</td>
                            <td>{{ data["currency"] }}</td>
                            <td>{{ data["CreationDate"] }}</td>
                            <td>
                                <span *ngIf="data['status'] == 1 || data['status'] == '1'" style="padding: 5px;color: white;background-color: green;border-radius: 5px;">Success</span>
                                <span *ngIf="data['status'] == 0 || data['status'] == '0'" style="padding: 5px;color: white;background-color: red;border-radius: 5px;">Failed</span>
                                <span *ngIf="data['status'] == 2 || data['status'] == '2'" style="padding: 5px;color: white;background-color: rgb(255, 166, 0);border-radius: 5px;">Refunded</span>
                            </td>
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <div *ngIf="view == 'profile'">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img width="250px" class="img-account-profile rounded-circle mb-2" src="{{baseurl}}/api/files/get/{{profiledata?.userimage}}" alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        <button (click)="openFileInput()" class="btn btn-primary" type="button">Upload new image</button>
                        <input type="file" #fileInput style="display: none;" (change)="uploadFiles($event,'userimage')">
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                            <!-- Form Group (username)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                                <input class="form-control" id="inputUsername" [(ngModel)]="profiledata['name']" type="text" placeholder="Enter your username">
                            </div>
                            <!-- Form Group (email address)-->
                            <div class="row">
                                <div class="col-6">
                                    <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                    <input class="form-control" [(ngModel)]="profiledata['useremail']" id="inputEmailAddress" type="email" placeholder="Enter your email address">
                                </div>
                                <div class="col-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input class="form-control" id="inputPhone" [(ngModel)]="profiledata['userphone']" type="tel" placeholder="Enter your phone number">
                                </div>
                            </div>
                            <button (click)="saveData()" style="margin-top: 40px;" class="btn btn-primary" type="button">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="view == 'courses'">
        <div class="card card-header-actions mb-4">
            <div class="card-header">
                Purchased Courses 
                <a routerLink="/all-courses" class="btn btn-sm btn-primary" type="button">Add Course</a>
            </div>
            <div class="card-body px-0">
                <!-- Payment method 1-->
                <div *ngFor="let data of courseslist | paginate: { itemsPerPage: 10, currentPage: p }">
                    <div class="d-flex align-items-center justify-content-between px-4">
                        <div class="d-flex align-items-center">
                            <img src="{{baseurl}}/api/files/get/{{courseById(data?.courseid)[0]?.thumbnail}}" style="width: 50px;height:50px">
                            <div class="ms-4">
                                <div class="small">{{data?.coursename}}</div>
                                <div class="text-xs text-muted">Pruchased At : {{data?.CreationDate | date:'mediumDate'}}</div>
                            </div>
                        </div>
                        <div class="ms-4 small">
                            <div class="badge bg-light text-dark me-3">
                                <span *ngIf="data['status'] == 1 || data['status'] == '1'" style="padding: 5px;color: white;background-color: green;border-radius: 5px;">Active</span>
                                <span *ngIf="data['status'] == 0 || data['status'] == '0'" style="padding: 5px;color: white;background-color: red;border-radius: 5px;">In-Active</span>
                            </div>
                            <span *ngIf="courseById(data?.courseid)[0]?.coursechannel == 'online'">
                                <a *ngIf="data['status'] != 0" routerLink="/course/view/{{data?.courseid}}" class="btn btn-success">Start</a>
                            </span>
                            <span *ngIf="courseById(data?.courseid)[0]?.coursechannel == 'offline'">
                                <a *ngIf="data['status'] != 0" class="btn btn-warning">Visit Branch</a>
                            </span>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center" *ngIf="isLoading" style="padding-top: 100px;padding-bottom: 100px;">
    <div class="spinner-border" role="status">
    </div>
</div>