<div class="row" *ngIf="module == 'courses'">
    <div class="col-lg-4 col-md-6">
        <div class="course__item">
            <div class="course__item-inner">
                <div class="course__thumb shimmer-wrapper"><!-- Apply shimmer effect to the entire course thumb -->
                    <!-- Apply shimmer effect to the image -->
                    <div style="height: 200px;width: 100%;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                    <!-- Apply shimmer effect to the bookmark icon -->
                </div>
        
                <div class="course__content">
                    <!-- Shimmer effect will be applied to the content below -->
                    <!-- Add shimmer effect classes to each element as needed -->
                    <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div> <!-- Add appropriate shimmer effect class here -->
                    <h6 style="height: 30px;" class="shimmer-line shimmer-line-br shimmer-line-120 shimmer-animate"></h6> <!-- Add appropriate shimmer effect class here -->
                    <div class="course__content-bottom">
                        <a href="mentor-details.html" class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"><div style="width:32px;height:32px" class="shimmer-circle shimmer-circle-md shimmer-animate" alt="avatar"></div></a>
                        <div class="course-price">
                            <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div> <!-- Add appropriate shimmer effect class here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="course__item">
            <div class="course__item-inner">
                <div class="course__thumb shimmer-wrapper"><!-- Apply shimmer effect to the entire course thumb -->
                    <!-- Apply shimmer effect to the image -->
                    <div style="height: 200px;width: 100%;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                    <!-- Apply shimmer effect to the bookmark icon -->
                </div>
        
                <div class="course__content">
                    <!-- Shimmer effect will be applied to the content below -->
                    <!-- Add shimmer effect classes to each element as needed -->
                    <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div> <!-- Add appropriate shimmer effect class here -->
                    <h6 style="height: 30px;" class="shimmer-line shimmer-line-br shimmer-line-120 shimmer-animate"></h6> <!-- Add appropriate shimmer effect class here -->
                    <div class="course__content-bottom">
                        <a href="mentor-details.html" class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"><div style="width:32px;height:32px" class="shimmer-circle shimmer-circle-md shimmer-animate" alt="avatar"></div></a>
                        <div class="course-price" style="margin-left: 20px;">
                            <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div> <!-- Add appropriate shimmer effect class here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="course__item">
            <div class="course__item-inner">
                <div class="course__thumb shimmer-wrapper"><!-- Apply shimmer effect to the entire course thumb -->
                    <!-- Apply shimmer effect to the image -->
                    <div style="height: 200px;width: 100%;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                    <!-- Apply shimmer effect to the bookmark icon -->
                </div>
        
                <div class="course__content">
                    <!-- Shimmer effect will be applied to the content below -->
                    <!-- Add shimmer effect classes to each element as needed -->
                    <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div> <!-- Add appropriate shimmer effect class here -->
                    <h6 style="height: 30px;" class="shimmer-line shimmer-line-br shimmer-line-120 shimmer-animate"></h6> <!-- Add appropriate shimmer effect class here -->
                    <div class="course__content-bottom">
                        <a href="mentor-details.html" class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"><div style="width:32px;height:32px" class="shimmer-circle shimmer-circle-md shimmer-animate" alt="avatar"></div></a>
                        <div class="course-price" style="margin-left: 20px;">
                            <div class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div> <!-- Add appropriate shimmer effect class here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="module == 'blogs'">
    <div class="col-lg-4 col-md-6">
        <div class="blog__item" *ngIf="module == 'blogs'">
            <div class="blog__item-inner">
                <div class="blog__thumb shimmer-wrapper"><!-- Apply shimmer effect to the entire blog thumb -->
                    <!-- Apply shimmer effect to the image -->
                    <div style="height: 200px;width: 100%;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                </div>
        
                <div class="blog__content">
                    <!-- Shimmer effect will be applied to the content below -->
                    <!-- Add shimmer effect classes to each element as needed -->
                    <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div> <!-- Add appropriate shimmer effect class here -->
                    <h6 style="height: 30px;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></h6> <!-- Add appropriate shimmer effect class here -->
                    <div class="blog__content-bottom blog__content-bottom--border">
                        <a href="#" class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="blog__item" *ngIf="module == 'blogs'">
            <div class="blog__item-inner">
                <div class="blog__thumb shimmer-wrapper"><!-- Apply shimmer effect to the entire blog thumb -->
                    <!-- Apply shimmer effect to the image -->
                    <div style="height: 200px;width: 100%;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                </div>
        
                <div class="blog__content">
                    <!-- Shimmer effect will be applied to the content below -->
                    <!-- Add shimmer effect classes to each element as needed -->
                    <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div> <!-- Add appropriate shimmer effect class here -->
                    <h6 style="height: 30px;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></h6> <!-- Add appropriate shimmer effect class here -->
                    <div class="blog__content-bottom blog__content-bottom--border">
                        <a href="#" class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="blog__item" *ngIf="module == 'blogs'">
            <div class="blog__item-inner">
                <div class="blog__thumb shimmer-wrapper"><!-- Apply shimmer effect to the entire blog thumb -->
                    <!-- Apply shimmer effect to the image -->
                    <div style="height: 200px;width: 100%;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                </div>
        
                <div class="blog__content">
                    <!-- Shimmer effect will be applied to the content below -->
                    <!-- Add shimmer effect classes to each element as needed -->
                    <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div> <!-- Add appropriate shimmer effect class here -->
                    <h6 style="height: 30px;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></h6> <!-- Add appropriate shimmer effect class here -->
                    <div class="blog__content-bottom blog__content-bottom--border">
                        <a href="#" class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="module == 'gallery'">
    <div class="col-lg-4 col-md-6">
        <div class="blog__item" *ngIf="module == 'gallery'">
            <div class="blog__item-inner">
                <div class="blog__thumb shimmer-wrapper"><!-- Apply shimmer effect to the entire blog thumb -->
                    <!-- Apply shimmer effect to the image -->
                    <div style="height: 200px;width: 100%;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                </div>
        
                <div class="blog__content">
                    <!-- Shimmer effect will be applied to the content below -->
                    <!-- Add shimmer effect classes to each element as needed -->
                    <h6 style="height: 30px;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></h6> <!-- Add appropriate shimmer effect class here -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="blog__item" *ngIf="module == 'gallery'">
            <div class="blog__item-inner">
                <div class="blog__thumb shimmer-wrapper"><!-- Apply shimmer effect to the entire blog thumb -->
                    <!-- Apply shimmer effect to the image -->
                    <div style="height: 200px;width: 100%;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                </div>
        
                <div class="blog__content">
                    <!-- Shimmer effect will be applied to the content below -->
                    <!-- Add shimmer effect classes to each element as needed -->
                    <h6 style="height: 30px;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></h6> <!-- Add appropriate shimmer effect class here -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="blog__item" *ngIf="module == 'gallery'">
            <div class="blog__item-inner">
                <div class="blog__thumb shimmer-wrapper"><!-- Apply shimmer effect to the entire blog thumb -->
                    <!-- Apply shimmer effect to the image -->
                    <div style="height: 200px;width: 100%;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></div>
                </div>
        
                <div class="blog__content">
                    <!-- Shimmer effect will be applied to the content below -->
                    <!-- Add shimmer effect classes to each element as needed -->
                    <h6 style="height: 30px;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></h6> <!-- Add appropriate shimmer effect class here -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog__item" *ngIf="module == 'blogpost'">
    <div class="blog__inner">
        <div class="blog__thumb shimmer-wrapper"><!-- Apply shimmer effect to the entire blog thumb -->
            <!-- Apply shimmer effect to the image -->
            <div style="width: 100%;height: 400px;" class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div>
        </div>
        <div class="blog__content">
            <!-- Shimmer effect will be applied to the content below -->
            <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div>
            <h2 style="height: 30px;margin-bottom: 50px;" class="shimmer-line shimmer-line-br shimmer-line-60 shimmer-animate"></h2>
            <div class="shimmer-line shimmer-line-br shimmer-line-100 shimmer-animate"></div>
            <div class="shimmer-line shimmer-line-br shimmer-line-100 shimmer-animate"></div>
            <div class="shimmer-line shimmer-line-br shimmer-line-100 shimmer-animate"></div>
            <div class="shimmer-line shimmer-line-br shimmer-line-100 shimmer-animate"></div>
            <div class="shimmer-line shimmer-line-br shimmer-line-100 shimmer-animate"></div>
            <div class="shimmer-line shimmer-line-br shimmer-line-100 shimmer-animate"></div>
            <div class="shimmer-line shimmer-line-br shimmer-line-100 shimmer-animate"></div>
        </div>
    </div>
</div>

<!-- For Courses Detail -->
<div class="coursedetails coursedetails--style1 padding-top padding-bottom" *ngIf="module == 'coursedetails'">
    <div class="container" data-aos="fade-up" data-aos-duration="800">
        <div class="row flex-lg-row-reverse g-5">

            <!-- Shimmer effect for the left column -->
            <div class="col-lg-4 shimmer-wrapper">
                <!-- Add shimmer elements here -->
                <!-- Shimmer effect for the image -->
                <div style="height: 200px;width: 100%;" class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div>
                <!-- Shimmer effect for the offer section -->
                <div class="coursedetails__offer">
                    <div class="coursedetails__offer-price">
                        <h3 class="shimmer-animate"></h3>
                        <span class="shimmer-animate"></span>
                    </div>
                    <div class="coursedetails__offer-time">
                        <p class="shimmer-animate"></p>
                    </div>
                    <a class="trk-btn trk-btn--border trk-btn--secondary1 d-block shimmer-animate"></a>
                    <div class="coursedetails__offer-social">
                        <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div>
                        <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div>
                        <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div>
                    </div>
                </div>
                <div class="coursedetails__footer shimmer-animate">
                </div>
            </div>

            <!-- Shimmer effect for the right column -->
            <div class="col-lg-8 shimmer-wrapper">
                <!-- Add shimmer elements here -->
                <!-- Shimmer effect for the header -->
                <div class="coursedetails__header">
                    <h3 style="height: 30px;" class="shimmer-line shimmer-line-br shimmer-line-50 shimmer-animate"></h3>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p style="height: 50px;" class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <div class="coursedetails__focus">
                        <div class="coursedetails__focus-rating">
                            <span class="shimmer-animate"></span>
                        </div>
                        <div class="coursedetails__focus-star">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="coursedetails__focus-count">
                            <span class="shimmer-animate"></span>
                        </div>
                        <div class="coursedetails__focus-students">
                            <span class="shimmer-animate"></span>
                        </div>
                    </div>
                    <p style="height: 20px;" class="shimmer-line shimmer-line-br shimmer-line-100 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                </div>

                <!-- Add the rest of your content here -->
            </div>
        </div>
    </div>
</div>

<div class="coursedetails coursedetails--style1 padding-top padding-bottom" *ngIf="module == 'myaccount'">
    <div class="container" data-aos="fade-up" data-aos-duration="800">
        <div class="row flex-lg-row-reverse g-5">

            <!-- Shimmer effect for the left column -->
            <div class="col-lg-4 shimmer-wrapper">
                <!-- Add shimmer elements here -->
                <!-- Shimmer effect for the image -->
                <div style="height: 30px;width: 100%;" class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div>
                <!-- Shimmer effect for the offer section -->
                <div class="coursedetails__offer">
                    <div class="coursedetails__offer-price">
                        <h3 class="shimmer-animate"></h3>
                        <span class="shimmer-animate"></span>
                    </div>
                    <div class="coursedetails__offer-time">
                        <p class="shimmer-animate"></p>
                    </div>
                    <a class="trk-btn trk-btn--border trk-btn--secondary1 d-block shimmer-animate"></a>
                    <div class="coursedetails__offer-social">
                        <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div>
                        <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div>
                        <div class="shimmer-line shimmer-line-br shimmer-line-40 shimmer-animate"></div>
                    </div>
                </div>
                <div class="coursedetails__footer shimmer-animate">
                </div>
            </div>

            <!-- Shimmer effect for the right column -->
            <div class="col-lg-8 shimmer-wrapper">
                <!-- Add shimmer elements here -->
                <!-- Shimmer effect for the header -->
                <div class="coursedetails__header">
                    <h3 style="height: 30px;" class="shimmer-line shimmer-line-br shimmer-line-50 shimmer-animate"></h3>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p style="height: 50px;" class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <div class="coursedetails__focus">
                        <div class="coursedetails__focus-rating">
                            <span class="shimmer-animate"></span>
                        </div>
                        <div class="coursedetails__focus-count">
                            <span class="shimmer-animate"></span>
                        </div>
                        <div class="coursedetails__focus-students">
                            <span class="shimmer-animate"></span>
                        </div>
                    </div>
                    <p style="height: 20px;" class="shimmer-line shimmer-line-br shimmer-line-100 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                    <p class="shimmer-line shimmer-line-br shimmer-line-80 shimmer-animate"></p>
                </div>

                <!-- Add the rest of your content here -->
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center" *ngIf="module == 'product'">
    <img src="assets/loader.gif" alt="Loader">
</div>