<!-- ==========Page Header Section Starts Here========== -->
<div class="pageheader" style="background-image:url(assets/images/bg/home1/1.webp)">
    <div class="container">
        <div class="pageheader__content">
            <h2>Art Therapy</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Art Therapy</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- ==========Page Header Section Ends Here========== -->
<!-- ===============>> Banner section start here <<================= -->
<section class="banner padding-bottom banner--style3 bg--cover"
style="background-image:url(assets/images/bg/home3/1.png); margin-top:70px">
<div class="container">
    <div class="banner__wrapper">
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="banner__content banner__content--style3" data-aos="zoom-in"
                    data-aos-duration="1000">
                    <div class="banner__content-star">
                        <img src="assets/images/icon/home3/1.png" alt="star icon">
                        <div class="star-details">
                            <span>ART THERAPY</span>
                        </div>
                    </div>
                    <h1>What is Arts Based  Counselling ?</h1>
                    <p>“Many of the motions involved in making art, such as holding a paintbrush or scribbling with a crayon, are essential to the growth of fine motor skills in young children and adults as well.”
                    </p>
                    <div class="btn-group">
                        <a href="courses" class="trk-btn trk-btn--rounded trk-btn--secondary1">Explore
                        Courses <span><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner__thumb banner__thumb--style3">
                    <div class="banner__thumb-item">
                        <img style="border-radius: 12px;" src="assets/images/banner/home3/1.webp" alt="image">
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="banner__icon banner__icon--style2">
    <span class="banner__icon-item banner__icon-item--animation"><img src="assets/images/banner/home3/4.png"
            alt="dot icon"></span>
    <span class="banner__icon-item banner__icon-item--animation"><img src="assets/images/banner/home3/2.png"
            alt="star icon"></span>
    <span class="banner__icon-item banner__icon-item--animation"><img src="assets/images/banner/home3/3.png"
            alt="watch icon"></span>
</div>
</section>
<!-- ===============>> Banner section end here <<================= -->


<section style="margin-top: 120px;" class="about about--style1 padding-top">
<div class="container">
    <div class="about__wrapper">
        <div class="row gx-4 gy-5 align-items-center">
            <div class="col-lg-6">
                <div class="about__thumb" data-aos="fade-right" data-aos-duration="800">
                    <div class="about__thumb-inner">
                        <div class="about__thumb-image">
                            <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/about/thumb.webp" alt="about-image">
                            <div class="about__thumb-video">
                                <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/about/2.webp" alt="intro-thumbil">
                                <div class="about__thumb-plybtn">
                                    <a href="https://youtu.be/01ChFIwexjc" data-fslightbox><img width="auto" height="100%" loading="lazy" decoding="async"
                                            src="assets/images/about/play-icon.png" alt="ply-btn"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__content" data-aos="fade-left" data-aos-duration="800">
                    <div class="about__content-inner">
                        <span class="subtitle">About Us</span>
                        <h2>Studio Background</h2>
                        <p>AATA,American Art Therapy Association-  definition of the profession:
                        Art therapy is the therapeutic use of art making, within a professional relationship, by people who experience illness, trauma or challenges in living, and by people who seek personal development.</p>
                        <a href="about-us" class="trk-btn trk-btn--rounded trk-btn--secondary1">Explore More
                            +</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


<!-- ===============>> partner section start here <<================= -->
<!-- <section class="partner partner--style2">
<div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
    <div class="section-header text-center">
        <h6>Trusted by 4,000+ companies</h6>
    </div>
    <div class="partner__wrapper">
        <div class="partner__slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="partner__item">
                        <div class="partner__item-inner">
                            <img src="assets/images/partner/home3/1.png" alt="partner logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner__item">
                        <div class="partner__item-inner">
                            <img src="assets/images/partner/home3/2.png" alt="partner logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner__item">
                        <div class="partner__item-inner">
                            <img src="assets/images/partner/home3/3.png" alt="partner logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner__item">
                        <div class="partner__item-inner">
                            <img src="assets/images/partner/home3/4.png" alt="partner logo">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner__item">
                        <div class="partner__item-inner">
                            <img src="assets/images/partner/home3/5.png" alt="partner logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section> -->
<!-- ===============>> partner section end here <<================= -->




<!-- ===============>> Course categories section start here <<================= -->
<section class="categories categories--style3 padding-top  padding-bottom">
<div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
    <div class="categories__wrapper">
        <div class="row g-4">
            <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12">
                <div class="categories__header" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="100">
                    <div class="subtitle subtitle--style3">
                        <img src="assets/images/icon/home3/1.png" alt="star icon">
                        <p class="mb-0">Power of Art for Mental Well-being</p>
                    </div>
                    <h2>Art Therapy: Healing Through Creative Expression</h2>
                    <p class="style3">In psychology, the use of artistic methods to treat psychological disorders and enhance mental health is known as art therapy.
                        Art therapy is a therapeutic technique rooted in the idea that creative expression can foster healing and mental well-being.</p>
                </div>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-6">
                <div class="categories__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="categories__item-inner">
                        <div class="categories__item-thumb">
                            <img style="border-radius: 12px;" src="assets/images/category/home3/1.webp" alt="course icon">
                        </div>
                        <!-- <div class="categories__item-content">
                            <a href="course-category.html" class="stretched-link active">Graphic Design</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-6">
                <div class="categories__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="categories__item-inner">
                        <div class="categories__item-thumb">
                            <img style="border-radius: 12px;" src="assets/images/category/home3/2.webp" alt="course icon">
                        </div>
                        <!-- <div class="categories__item-content">
                            <a href="course-category.html" class="stretched-link active">Business</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-6">
                <div class="categories__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="categories__item-inner">
                        <div class="categories__item-thumb">
                            <img style="border-radius: 12px;" src="assets/images/category/home3/3.webp" alt="course icon">
                        </div>
                        <!-- <div class="categories__item-content">
                            <a href="course-category.html" class="stretched-link active">Web Design</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4  col-md-4 col-6">
                <div class="categories__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="categories__item-inner">
                        <div class="categories__item-thumb">
                            <img style="border-radius: 12px;" src="assets/images/category/home3/4.webp" alt="course icon">
                        </div>
                        <!-- <div class="categories__item-content">
                            <a href="course-category.html" class="stretched-link active">Content Writing</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-6">
                <div class="categories__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="categories__item-inner">
                        <div class="categories__item-thumb">
                            <img style="border-radius: 12px;" src="assets/images/category/home3/5.webp" alt="course icon">
                        </div>
                        <!-- <div class="categories__item-content">
                            <a href="course-category.html" class="stretched-link active">Digital Marketing</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-6">
                <div class="categories__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <div class="categories__item-inner">
                        <div class="categories__item-thumb">
                            <img style="border-radius: 12px;" src="assets/images/category/home3/6.webp" alt="course icon">
                        </div>
                        <!-- <div class="categories__item-content">
                            <a href="course-category.html" class="stretched-link active">Finance</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ===============>> Course categories section end here <<================= -->




<!-- ===============>> About section start here <<================= -->
<section class="about about--style3 padding-bottom">
<div class="container">
    <div class="about__wrapper">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about__thumb" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="about__thumb-inner">
                        <div class="about__thumb-image">
                            <img style="border-radius: 12px;" src="assets/images/about/home3/2.webp" alt="about-image">
                        </div>
                    </div>
                    <div class="about__icon">
                        <span class="about__icon-item about__icon-item--animation"><img
                                src="assets/images/about/home3/4.png" alt="dot icon"></span>
                        <span class="about__icon-item about__icon-item--animation"><img
                                src="assets/images/about/home3/3.png" alt="star icon"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__content" data-aos="fade-up-left" data-aos-duration="1000"
                    data-aos-delay="100">
                    <div class="about__content-inner">
                        <div class="section-header">
                            <div class="subtitle subtitle--style3">
                                <img src="assets/images/icon/home3/1.png" alt="star icon">
                                <p class="mb-0">About Us</p>
                            </div>
                            <h2>Arts Based Therapy</h2>
                            <p class="style2">ABT or Arts Based Therapy is defined as the evidence –based use of art forms (music,dance ,drama and visual arts.) to accomplish individualized goals within a therapeutic relationship. ABT is primarily an art form, practiced scientifically, and based on the subtle energy theory. The subtle energy theory states that reality is a perception, based on sensory input and cognition. Change in any of these will lead to a different reality. ABT is a model developed by WCCL Foundation.</p><br>
                            <p class="style2">Art Therapist Mona Joy is a master -level clinician who works with people of all ages across a broad spectrum . people who are challenged with medical and mental health problems, as well as individuals seeking emotional,creative and spiritual growth.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ===============>> About section start here <<================= -->