<!-- ===============>> Banner section start here <<================= -->
<section class="banner brand-1" style="background-color:#e7e8e8">
    <div class="container">
        <div class="banner__wrapper">

            <!-- banner content -->
            <div class="banner__content banner__content--style1" data-aos="zoom-in" data-aos-duration="1000">
                <h1 style="color: black;margin-top: 50px;">Exposing yourself to the "Fine Arts" Maximises your life's potential</h1>
                <p style="color: black;">Creating art and forming artists since 2006</p>
                <div class="btn-group justify-content-center">
                    <a routerLink="/signup" class="trk-btn trk-btn--rounded trk-btn--primary1">Get Started</a>
                    <a href="https://youtu.be/giP0Jhc3irU" target="_blank" class="play-btn" data-fslightbox style="color: black;">
                        <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/icon/svg/4.png" alt="play-btn">
                        Watch Video</a>
                </div>
            </div>

            <!-- banner images -->
            <div class="banner-image">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-4">
                                <div class="banner-image__item" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="banner-image__item-inner ">
                                        <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/banner/1.webp" style="border-radius: 15px;" alt="banner-image-banner">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-4">
                                <div class="banner-image__item" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="banner-image__item-inner banner-image__item-inner--style2">
                                        <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/banner/2.webp" style="border-radius: 15px;" alt="banner-image-banner">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-4">
                                <div class="banner-image__item" data-aos="fade-left" data-aos-duration="1000">
                                    <div class="banner-image__item-inner">
                                        <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/banner/3.webp" style="border-radius: 15px;" alt="banner-image-banner">
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <!-- <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-4">
                                <div class="banner-image__item" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="banner-image__item-inner ">
                                        <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/banner/1.webp" style="border-radius: 15px;" alt="banner-image-banner">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-4">
                                <div class="banner-image__item" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="banner-image__item-inner banner-image__item-inner--style2">
                                        <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/banner/2.webp" style="border-radius: 15px;" alt="banner-image-banner">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-4">
                                <div class="banner-image__item" data-aos="fade-left" data-aos-duration="1000">
                                    <div class="banner-image__item-inner">
                                        <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/banner/3.webp" style="border-radius: 15px;" alt="banner-image-banner">
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div> -->
                      <!-- <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-4">
                                <div class="banner-image__item" data-aos="fade-right" data-aos-duration="1000">
                                    <div class="banner-image__item-inner ">
                                        <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/1.webp" style="border-radius: 15px;" alt="banner-image-banner">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-4">
                                <div class="banner-image__item" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="banner-image__item-inner banner-image__item-inner--style2">
                                        <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/2.webp" style="border-radius: 15px;" alt="banner-image-banner">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-4">
                                <div class="banner-image__item" data-aos="fade-left" data-aos-duration="1000">
                                    <div class="banner-image__item-inner">
                                        <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/3.webp" style="border-radius: 15px;" alt="banner-image-banner">
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div> -->
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="banner__shape banner__shape--style1">
        <span class="banner__shape-item banner__shape-item--animation"><img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/shape/home1/1.webp"
                alt="roket"></span>
        <span class="banner__shape-item banner__shpae-item--animation"><img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/shape/home1/2.webp"
                alt="book"></span>
        <span class="banner__shape-item banner__shpae-item--animation"><img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/shape/home1/3.webp"
                alt="belon"></span>
        <span class="banner__shape-item banner__shpae-item--animation"><img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/shape/home1/4.webp"
                alt="triangle"></span>
        <span class="banner__shape-item banner__shpae-item--animation"><img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/shape/home1/5.webp"
                alt="circle"></span>
        <div class="banner__shape-item">
            <div class="reviews">
                <div class="reviews__content">
                    <p style="color: black;"><span class="purecounter" data-purecounter-start="3000" data-purecounter-end="5000"
                            data-purecounter-once="false">5000</span>+ enrolled students</p>
                </div>
                <div class="reviews__thumb">
                    <!-- <ul>
                        <li><img loading="lazy" decoding="async" style="width: 32px;height:32px" src="assets/images/community/avator/home1/1.jpg" alt="user image"></li>
                        <li><img loading="lazy" decoding="async" style="width: 32px;height:32px" src="assets/images/community/avator/home1/2.jpg" alt="user image"></li>
                        <li><img loading="lazy" decoding="async" style="width: 32px;height:32px" src="assets/images/community/avator/home1/3.jpg" alt="user image"></li>
                        <li><img loading="lazy" decoding="async" style="width: 32px;height:32px" src="assets/images/community/avator/home1/4.jpg" alt="user image"></li>
                        <li><img loading="lazy" decoding="async" style="width: 32px;height:32px" src="assets/images/community/avator/home1/5.jpg" alt="user image"></li>
                        <li><img loading="lazy" decoding="async" style="width: 32px;height:32px" src="assets/images/community/avator/home1/6.jpg" alt="user image"></li>
                        <li><img loading="lazy" decoding="async" style="width: 32px;height:32px" src="assets/images/community/avator/home1/7.jpg" alt="user image"></li>
                        <li>
                            <div class="count">
                                <p class="mb-0"><span class="purecounter" data-purecounter-start="0"
                                        data-purecounter-end="50" data-purecounter-once="false">50</span> <span
                                        class="plus" style="color: black;">+</span></p>

                            </div>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>

</section>

<!-- ===============>> Banner section end here <<================= -->




<!-- ===============>> Course categories section start here <<================= -->
<section class="categories categories--style1  padding-bottom brand1-bg-1">
    <div class="container">
        <div class="categories__wrapper">
            <div class="row g-4">
                <div class="col-lg-4" data-aos="fade-right" data-aos-duration="800">
                    <div class="section-header pe-3">
                        <h2>Art-Based Interventions</h2>
                        <p>MONIQART offers a comprehensive spectrum of courses spanning all levels of creative development, knowledge, and education:</p>
                        <ul style="list-style-type: circle;margin-left: 30px;">
                            <li>Remedial Art for enhanced concentration.</li>
                            <li>Art for behavior modification.</li>
                            <li>Cognitive development through art.</li>
                            <li>Engaging art-based exercises.</li>
                            <li>Art therapy for emotional well-being. </li>
                        </ul>
                        <a routerLink="/all-courses" class="trk-btn trk-btn--rounded trk-btn--secondary1">Explore
                            Courses</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row g-4" data-aos="fade-left" data-aos-duration="800">
                        <div *ngIf="categories?.length > 0" id="categoriesCarousel" class="carousel slide" data-bs-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <div class="row">
                                <div *ngFor="let category of categories.slice(0, 8)" class="col-lg-3 col-md-3 col-sm-3 col-4">
                                  <div class="categories__item" style="margin-top: 10px;">
                                    <div class="categories__item-inner">
                                      <div class="categories__thumb categories__thumb--cat1">
                                        <img src="{{baseurl}}/api/files/get/{{category?.categoryicon}}" alt="course icon">
                                      </div>
                                      <div class="categories__item-content">
                                        <a routerLink="/all-courses/{{category?._id}}" style="cursor: pointer;" class="stretched-link active">{{category?.name}}</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <!-- Add more slides if there are additional categories -->
                            <div *ngIf="categories?.length > 8" class="carousel-item">
                              <div class="row">
                                <div *ngFor="let category of categories.slice(8, 16)" class="col-lg-3 col-md-3 col-sm-3 col-4">
                                  <div class="categories__item" style="margin-top: 10px;">
                                    <div class="categories__item-inner">
                                      <div class="categories__thumb categories__thumb--cat1">
                                        <img src="{{baseurl}}/api/files/get/{{category?.categoryicon}}" alt="course icon">
                                      </div>
                                      <div class="categories__item-content">
                                        <a style="cursor: pointer;" class="stretched-link active">{{category?.name}}</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <button *ngIf="categories?.length > 8" class="carousel-control-prev" type="button" data-bs-target="#categoriesCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button *ngIf="categories?.length > 8" class="carousel-control-next" type="button" data-bs-target="#categoriesCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===============>> Course categories section end here <<================= -->


<!-- ===============>> feature section start here <<================= -->
<section class="feature padding-top" style="background-color: white;">
    <div class="container" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
        <div class="section-header text-center">
            <div class="subtitle subtitle--style5 justify-content-center">
                <p class="mb-0">Our specialties</p>
            </div>
            <h2>Unparalleled Expertise for Your Every Need</h2>
            <p class="style2">Experience Excellence in Services Tailored to Meet Your Goals and Exceed Your Expectations</p>
        </div>
        <div class="feature__wrapper">
            <div class="row g-4">
                <div class="col-md-4 col-sm-6">
                    <div class="feature__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="feature__item-inner">
                            <div class="feature__thumb">
                                <img src="assets/images/about/skill.jpg" alt="feature-image">
                            </div>
                            <div class="feature__content">
                                <h5>Skill Development</h5>
                                <p class="mb-0">We offer art workshops and classes that provide structured learning environments where participants can enhance their artistic skills.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="feature__item-inner">
                            <div class="feature__thumb">
                                <img src="assets/images/about/creative.jpg" alt="feature-image">
                            </div>
                            <div class="feature__content">
                                <h5>Creative Exploration</h5>
                                <p class="mb-0">Our studio fosters an environment that encourages creative exploration and free expression of ideas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="feature__item-inner">
                            <div class="feature__thumb">
                                <img src="assets/images/about/therapy.jpg" alt="feature-image">
                            </div>
                            <div class="feature__content">
                                <h5>Art Therapy and Emotional Well-being</h5>
                                <p class="mb-0">Art therapy can help manage stress, improve self-esteem, enhance emotional well-being, and provide a healthy outlet for processing emotions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4" style="margin-top: 20px;">
                <div class="col-md-4 col-sm-6">
                    <div class="feature__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="feature__item-inner">
                            <div class="feature__thumb">
                                <img src="assets/images/about/exhibition.jpg" alt="feature-image">
                            </div>
                            <div class="feature__content">
                                <h5>Exhibition and Showcase Opportunities</h5>
                                <p class="mb-0">We hold events that offer opportunities to share your artwork with a wider audience, receive feedback, and gain exposure.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="feature__item-inner">
                            <div class="feature__thumb">
                                <img src="assets/images/about/exam.jpg" alt="feature-image">
                            </div>
                            <div class="feature__content">
                                <h5>Exam Preparation</h5>
                                <p class="mb-0">Art exam preparation sessions provide valuable guidance and support for individuals aiming to excel in art-related exams.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="feature__item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="feature__item-inner">
                            <div class="feature__thumb">
                                <img src="assets/images/about/resource.jpg" alt="feature-image">
                            </div>
                            <div class="feature__content">
                                <h5>Access to Resources and Materials</h5>
                                <p class="mb-0">Get access to a variety of art materials, tools, and resources and gain hands-on experience using professional-grade materials.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===============>> feature section end here <<================= -->


<!-- ===============>> About section start here <<================= -->
<section class="about about--style1 padding-top padding-bottom">
    <div class="container">
        <div class="about__wrapper">
            <div class="row gx-4 gy-5 align-items-center">
                <div class="col-lg-6">
                    <div class="about__thumb" data-aos="fade-right" data-aos-duration="800">
                        <div class="about__thumb-inner">
                            <div class="about__thumb-image">
                                <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/about/1.webp" alt="about-image">
                                <div class="about__thumb-video">
                                    <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/about/2.webp" alt="intro-thumbil">
                                    <div class="about__thumb-plybtn">
                                        <a target="_blank" href="https://www.youtube.com/watch?v=2bKSmmyJRug" data-fslightbox><img width="auto" height="100%" loading="lazy" decoding="async"
                                                src="assets/images/about/play-icon.png" alt="ply-btn"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__content" data-aos="fade-left" data-aos-duration="800">
                        <div class="about__content-inner">
                            <span class="subtitle">About Us</span>
                            <h2>Studio Background</h2>
                            <p>Moniqart strives to foster imagination and creativity in our studio by helping students create beautiful art. Whether you’re coming in to spend the day or to truly exploit your talent, you’ll find a blank canvas awaiting you where the world is your oyster. We opened our doors in 2006 and have been creating art and forming artists since.</p>
                            <ul class="about-list">
                                <li> <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/icon/svg/1.svg" alt="list-icon"> Skill Development</li>
                                <li> <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/icon/svg/1.svg" alt="list-icon"> Creative Exploration</li>
                                <li> <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/icon/svg/1.svg" alt="list-icon"> Emotional Well-being</li>
                                <li> <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/icon/svg/1.svg" alt="list-icon"> Exam Preparation</li>
                                <li> <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/icon/svg/1.svg" alt="list-icon"> Art Club Memberships</li>
                                <li> <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/icon/svg/1.svg" alt="list-icon"> Exhibition </li>
                                <li> <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/icon/svg/1.svg" alt="list-icon"> Showcase Opportunities </li>
                                <li> <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/icon/svg/1.svg" alt="list-icon"> Art Therapy </li>
                                <li> <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/icon/svg/1.svg" alt="list-icon"> Access to Resources </li>
                                <li> <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/icon/svg/1.svg" alt="list-icon"> Access to Materials</li>
                            </ul>
                            <a routerLink="/about-us" class="trk-btn trk-btn--rounded trk-btn--secondary1">Learn More
                                +</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===============>> About section start here <<================= -->


 <!-- ===============>> Community section start here <<================= -->
 <div class="community community--style2 padding-bottom">
    <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="community__wrapper" style="background-color: #E7E8E8;">
            <div class="row align-items-center g-0">
                <div class="col-lg-6">
                    <div class="community__content">
                        <div class="community__content-inner">
                            <span class="join-btn">ART THERAPY</span>
                            <h2>What is Arts Based  Counselling ?</h2>
                            <p>In psychology, the use of artistic methods to treat psychological disorders and enhance mental health is known as art therapy.
                                Art therapy is a therapeutic technique rooted in the idea that creative expression can foster healing and mental well-being.
                                AATA,American Art Therapy Association-  definition of the profession.</p>
                            <a routerLink="/art-therapy" class="trk-btn trk-btn--border trk-btn--secondary2" style="background-color: red;">Book now
                                <span><i class="fa-solid fa-arrow-right"></i></span> </a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="community__thumb">
                        <div class="community__thumb-inner">
                            <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/story/1.webp" alt="commnunity-image">
                            <div class="community__thumb-playbtn">
                                <a target="_blank" href="https://www.youtube.com/watch?v=01ChFIwexjc&t=85s" data-fslightbox><img width="auto" height="100%" loading="lazy" decoding="async"
                                        src="assets/images/community/home2/btn.png" alt="ply-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===============>> Community section end here <<================= -->


<!-- ===============>> Popular course section start here <<================= -->

<section class="course course--style1 padding-top padding-bottom brand-1">
    <div class="container px-lg-0" data-aos="fade-up" data-aos-duration="800">
        <div class="section-header text-center section-header--dark">
            <h2>Our Most Popular Courses</h2>
            <p class="style4">Learn from a class of professional artists. Get unique insights and perspectives combined with access to effective resources.</p>
        </div>
        <div class="course__wrapper">
            <div class="row" *ngIf="!isLoading">
                <div *ngFor="let data of courses;let i = index" class="col-lg-4 col-md-6">
                    <div class="course__item" *ngIf="i<3" style="margin-top: 20px;">
                        <div class="course__item-inner">
                            <div class="course__thumb">
                                <a routerLink="/course/{{data?._id}}"><img style="height: 200px;" src="{{baseurl}}/api/files/get/{{data?.thumbnail}}" alt="course Images"></a>
                                <a (click)="addToBookmark(data)" class="course__btn course__btn--save course__btn--active"><i
                                        class="fa-regular fa-bookmark"></i></a>
                            </div>

                            <div class="course__content">
                                <div class="course__content-top">
                                    <span class="course__meta-tag course__meta-tag--cat1">{{searchCategoryById(data?.category)[0]?.name}}</span>
                                </div>
                                <h6> <a routerLink="/course/{{data?._id}}">{{data?.name}}</a> </h6>
                                <div class="course__content-bottom">
                                    <a><img style="width: 30px;height: 30px;" src="{{baseurl}}/api/files/get/{{searchTraineryById(data?.coursetrainer)[0]?.userimage}}"
                                            alt="avatar">{{searchTraineryById(data?.coursetrainer)[0]?.name}}</a>
                                    <div class="course-price">
                                        <del>{{currencyConversion(data?.pricing) | currency:currencycode}}</del> <span>{{currencyConversion(data?.offerprice) | currency:currencycode}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-shimmer *ngIf="isLoading" [module]="'courses'"></app-shimmer>
        </div>
    </div>
</section>

<!-- ===============>> Popular course section end here <<================= -->


<!-- Exhibiton Section start here  -->
<section class="about about--style2 padding-top">
    <div class="container">
        <div class="about__wrapper">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="about__thumb" data-aos="fade-right" data-aos-duration="1000">
                        <div class="about__thumb-inner">
                            <div class="about__thumb-image">
                                <img style="border-radius: 8px;" src="assets/images/exhibition.jpg" alt="exhibition-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__content" data-aos="fade-left" data-aos-duration="1000">
                        <div class="about__content-inner">
                            <div class="section-header">
                                <div class="subtitle subtitle--style3">
                                    <!-- <img src="assets/images/icon/home2/1.png" alt="star icon"> -->
                                    <!-- <p class="mb-0">25+ Years Of Experiences</p> -->
                                </div>
                                <h2>Let's make your exhibition a reality</h2>
                                <p class="style2">Art is an expression and we believe in your potential as much as you do. Come, collaborate with us and exhibit your work through Moniqart.</p><br>
                                <p>Contact us today to plan your exhibition.</p>
                                <a routerLink="/contact-us" class="trk-btn trk-btn--rounded trk-btn--primary1">Secure Your Space
                                    <span><i class="fa-solid fa-arrow-right"></i></span> </a>
                            </div>
                            <!-- <div class="about__content-item">
                                <img src="assets/images/about/home2/2.png" alt="icon">
                                <div class="about__content-details">
                                    <h6>Sharing a screen</h6>
                                    <p>Share your desktop, smartphone or tablet screen with everyone to facilitate
                                        teamwork. Share your desktop, smartphone or tablet screen
                                        with everyone to facilitate teamwork.</p>
                                </div>
                            </div>
                            <div class="about__content-item">
                                <img src="assets/images/about/home2/3.png" alt="icon">
                                <div class="about__content-details">
                                    <h6>Presenter control</h6>
                                    <p>Let me help you with that. I can share control of my screen andkeyboar,
                                        Share your desktop, smartphone or tablet screen with everyone to
                                        facilitate teamwork.</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Exhibition Section Start here  -->


<!-- ===============>> Story section start here <<================= -->
<section class="story padding-top padding-bottom">
    <div class="container" data-aos="fade-up" data-aos-duration="800">
        <div class="section-header text-center">
            <h2>Our Success Story</h2>
            <p class="style2">Art therapy led by certified therapist Mona Joy helps patients express themselves through art, facilitating healing and providing vital support, we believe that art has the ability to heal.</p>
        </div>
        <div class="story__wrapper">
            <div class="story__thumb">
                <div class="story__thumb-inner">
                    <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/story/11.webp" alt="story-image">
                    <div class="story__thumb-playbtn">
                        <a href="https://www.youtube.com/watch?v=rlmtZnNQ_Z8&t=86s" target="_blank" data-fslightbox><img
                            loading="lazy" width="auto" height="100%" decoding="async" src="assets/images/story/2.png" alt="ply-btn"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===============>> Story section end here <<================= -->


<!-- Exhibiton Section start here  -->
<section class="about about--style2 padding-bottom">
    <div class="container">
        <div class="about__wrapper">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="about__content" data-aos="fade-left" data-aos-duration="1000">
                        <div class="about__content-inner">
                            <div class="section-header">
                                <div class="subtitle subtitle--style3">
                                    <!-- <img src="assets/images/icon/home2/1.png" alt="star icon"> -->
                                    <!-- <p class="mb-0">25+ Years Of Experiences</p> -->
                                </div>
                                <h2>Unlock Your Creative Potential: Book Our Studio Space for Your Art Time</h2>
                                <p class="style2">Are you searching for the perfect sanctuary to explore your creativity? Look no further! Our studio space is now available for you to book, providing the ideal canvas for your artistic expression.</p><br>
                                <ul style="list-style-type: square;margin-left: 30px;">
                                    <li>Inspiring Ambiance</li>
                                    <li>Versatile Layout</li>
                                    <li>Equipment Availability</li>
                                    <li>Convenient Location</li>
                                    <li>Safe and Clean Environment</li>
                                </ul>
                                <a href="https://calendly.com/moniqart/make-an-appointment'" target="_blank" class="trk-btn trk-btn--rounded trk-btn--primary1">Book studio space
                                    <span><i class="fa-solid fa-arrow-right"></i></span> </a>
                            </div>
                            <!-- <div class="about__content-item">
                                <img src="assets/images/about/home2/2.png" alt="icon">
                                <div class="about__content-details">
                                    <h6>Sharing a screen</h6>
                                    <p>Share your desktop, smartphone or tablet screen with everyone to facilitate
                                        teamwork. Share your desktop, smartphone or tablet screen
                                        with everyone to facilitate teamwork.</p>
                                </div>
                            </div>
                            <div class="about__content-item">
                                <img src="assets/images/about/home2/3.png" alt="icon">
                                <div class="about__content-details">
                                    <h6>Presenter control</h6>
                                    <p>Let me help you with that. I can share control of my screen andkeyboar,
                                        Share your desktop, smartphone or tablet screen with everyone to
                                        facilitate teamwork.</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__thumb" data-aos="fade-right" data-aos-duration="1000">
                        <div class="about__thumb-inner">
                            <div class="about__thumb-image">
                                <img style="border-radius: 8px;" src="assets/images/studio.jpg" alt="exhibition-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Exhibition Section Start here  -->

<!-- ===============>> Team section start here <<================= -->
<!-- <section class="team team--style2 padding-bottom">
    <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
        <div class="section-header text-center">
            <h2>News and Articles</h2>
            <p class="style2">Stay connected with us for daily updates, breaking news, and in-depth features. We are here to keep you informed, enlightened, and engaged with the world's most pressing stories.</p>
        </div>
    </div>
</section> -->
<!-- ===============>> Team section end here <<================= -->


<!-- ===============>> Community section start here <<================= -->
<section class="community community--style1 padding-top padding-bottom brand1-bg-1">
    <div class="container" data-aos="fade-up" data-aos-duration="800">
        <div class="section-header text-center">
            <h2>Join the biggest <br>
                Community of learning</h2>
            <p class="style2">Don't miss out on this enriching and supportive learning journey. Join us today and embark on a path of continuous growth and discovery!</p>
        </div>
        <div class="community__wrapper">
            <div class="community__map">
                <div class="community__map-inner">
                    <div class="community__reviews" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
                        <p> <i class="fa-solid fa-heart"></i> Happy Students</p>
                        <div class="community__reviews-content">
                            <ul>
                                <li><img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/community/avator/home1/3.jpg" alt="user image"></li>
                                <li><img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/community/avator/home1/1.jpg" alt="user image"></li>
                                <li><img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/community/avator/home1/2.jpg" alt="user image"></li>
                                <li><img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/community/avator/home1/4.jpg" alt="user image"></li>
                                <li><img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/community/avator/home1/5.jpg" alt="user image"></li>
                            </ul>
                            <p class="count mb-0">+<span class="purecounter" data-purecounter-start="10"
                                    data-purecounter-end="25" data-purecounter-once="false">25</span>K</p>

                        </div>
                    </div>
                    <img width="auto" height="100%" loading="lazy" decoding="async" src="assets/images/community/1.png" alt="community image" data-aos="fade-up"
                        data-aos-duration="800">
                    <a href="https://chat.whatsapp.com/FurI1R0Je4H77eYBHgCr9A" target="_blank" class="trk-btn trk-btn--rounded trk-btn--secondary1">Join Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===============>> Community section end here <<================= -->


 <!-- ===============>> Testimonial section start here <<================= -->
 <section class="testimonial testimonial--style2 padding-top padding-bottom brand2-bg-3" style="background-color: #E5E8E8;">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
        <div class="section-header text-center">
            <h2>What Clients Have to Say About Us</h2>
            <p class="style2">Our clients rave about our exceptional service and transformative results!</p>
        </div>
        <div class="testimonial__wrapper row">
            <div class="row">
                <script defer async src='https://cdn.trustindex.io/loader.js?6c35c9f20d2f998a2e5608192ad'></script>
            </div>
        </div>
    </div>
</section>
<!-- ===============>> Testimonial section end here <<================= -->


<!-- ===============>> Blog section start here <<================= -->
<section class="blog blog--style1 padding-top padding-bottom">
    <div class="container">
        <div class="section-header text-center">
            <h2>Latest Blog</h2>
            <p class="style2">Discover a world of artistic inspiration and knowledge in our art blogs to uncover creative ideas. Each read is an opportunity to learn, be inspired, and elevate your artistic abilities.</p>
        </div>
        <div class="blog__wrapper">
            <div class="row g-4" *ngIf="!isLoading">
                <div *ngFor="let data of blogs;let i = index" class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="600">
                    <div class="blog__item" *ngIf="i<3">
                        <div class="blog__item-inner">
                            <div class="blog__thumb">
                                <a routerLink="/blog/{{data?._id}}"><img src="{{baseurl}}/api/files/get/{{data?.image}}" alt="blog Images"></a>
                            </div>

                            <div class="blog__content">
                                <div class="blog__content-top">
                                    <span class="blog__meta-tag blog__meta-tag--cat3">{{searchCategoryById(data?.parentid)[0]?.name}}</span>
                                </div>
                                <h6> <a routerLink="/blog/{{data?._id}}">{{data?.title}}</a> </h6>

                                <div class="blog__content-bottom blog__content-bottom--border">
                                    <a><span><i class="fa-solid fa-calendar-days"></i></span>
                                        {{data?.CreationDate | date:'mediumDate'}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-shimmer *ngIf="isLoading" [module]="'blogs'"></app-shimmer>
        </div>
    </div>
</section>
<!-- ===============>> Blog section end here <<================= -->