 <!-- ==========Page Header Section Starts Here========== -->
 <div class="pageheader" style="background-image:url(assets/images/banner.jpg)">
    <div class="container" style="margin-top: 100px;">
        <div class="pageheader__content">
            <h2>Memberships</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Memberships</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- ==========Page Header Section Ends Here========== -->

<div class="course course--style1 padding-top padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ml-auto pricing-box align-self-center" *ngFor="let data of membership">
                <div class="card mb-4 align-self-start"> <!-- Add align-self-start here -->
                    <div class="card-body p-4 text-center">
                        <h5 class="font-weight-normal">{{data?.name}}</h5>
                        <sup>{{currencyConversion(data?.price) | currency:currencycode}}</sup>
                        <h6 class="font-weight-light font-14">{{data?.duration}} Month (s)</h6>
                        <p class="mt-4" [innerHTML]="data?.description"></p>
                    </div>
                    <button (click)="addToCart(data)" *ngIf="users" [disabled]="users?.memstatus && users?.memstatus != 0" class="btn btn-danger-gradiant p-3 btn-block border-0 text-white" style="background-color:red"><i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Add to Cart</button>
                    <button (click)="addToCart(data)" *ngIf="!users" class="btn btn-danger-gradiant p-3 btn-block border-0 text-white" style="background-color:red"><i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>       