<!-- ==========Page Header Section Starts Here========== -->
<div class="pageheader" style="background-image:url(assets/images/banner.jpg)">
    <div class="container" style="margin-top: 100px;">
        <div class="pageheader__content">
            <h2>Sign Up</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- ==========Page Header Section Ends Here========== -->





<!-- ===============>> account start here <<================= -->
<section class="account padding-top padding-bottom">
    <div class="container-fluid">
        <div class="account__wrapper" data-aos="fade-up" data-aos-duration="800">
            <div class="row g-4" *ngIf="!isOtp">
                <div class="col-lg-12">
                    <div class="account__content">
                        <!-- account tittle -->
                        <div class="account__header">
                            <h3>Create an account</h3>
                            <p>Start your learning today.</p>
                        </div>
                        <!-- account form -->
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="text" name="name" class="form-control" id="account-name"
                                        placeholder="Enter name" [(ngModel)]="formdata['username']" required>
                                </div>
                                <span style="color: red;" *ngIf="warning['username']">Username is Required*</span>    
                            </div>
                            <div class="col-lg-6">
                              <div class="input-group">
                                <input type="text" name="name" class="form-control" id="account-firstname"
                                    placeholder="First name" [(ngModel)]="formdata['first_name']" required>
                                </div>
                                <span style="color: red;" *ngIf="warning['first_name']">First Name is Required*</span> 
                            </div>
                            <div class="col-lg-6">
                              <div class="input-group">
                                <input type="text" name="name" class="form-control" id="account-lastname"
                                    placeholder="Last name" [(ngModel)]="formdata['last_name']" required>
                                </div>
                                <span style="color: red;" *ngIf="warning['last_name']">Last Name is Required*</span> 
                            </div>
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="email" name="email" class="form-control" id="account-email"
                                        placeholder="Enter email" [(ngModel)]="formdata['useremail']" required>
                                </div>
                                <span style="color: red;" *ngIf="warning['useremail']">Email is Required*</span>    
                            </div>
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="text" name="phone" class="form-control" id="account-mobile"
                                        placeholder="Enter number" [(ngModel)]="formdata['userphone']" required>
                                </div>
                                <span style="color: red;" *ngIf="warning['userphone']">Phone is Required*</span>    
                            </div>

                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="{{inputType}}" name="password" class="form-control showhide-pass" id="account-pass"
                                        placeholder="Password" [(ngModel)]="formdata['password']" required>
                                    <button *ngIf="inputType == 'password'" type="button" (click)="togglePasswordVisibility()" id="btnToggle" class="toggle">
                                      <i id="eyeIcon" class="fa fa-eye"></i>
                                    </button>
                                    <button *ngIf="inputType != 'password'" type="button" (click)="togglePasswordVisibility()" id="btnToggle" class="toggle">
                                      <i id="eyeIcon" class="fa fa-eye-slash" ></i>
                                    </button>   
                                </div>
                                <span style="color: red;" *ngIf="warning['password']">Password is Required*</span>    
                            </div>
                        </div>

                        <div class="account__form-passcheck">
                            <div class="form-check">
                                <input type="checkbox"(change)="terms == true ? terms = false : terms = true" class="form-check-input" value="" id="terms-check" required>
                                <label for="terms-check" class="form-check-label">
                                    By Creating Account you agree to our <a routerLink="terms-and-condition"> terms & conditions</a>
                                </label>
                            </div>
                        </div>

                        <button [disabled]="!terms" type="submit" name="register" (click)="userSignup()"
                            class="trk-btn trk-btn--border trk-btn--secondary1 d-block mt-4"><div *ngIf="isLoading" class="spinner-border" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div><div *ngIf="!isLoading">Sign Up</div></button>

                    <div class="account__switch">
                        <p>Already have an account? <a routerLink="/login">Log in</a></p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-7" *ngIf="isOtp">
                <div class="col-lg-5 text-center">
                  <a href="index.html">
                    <img src="assets/img/svg/logo.svg" alt="">
                  </a>
                  <div class="card mt-5">
                    <div class="card-body py-5 px-lg-5">
                      <div class="svg-icon svg-icon-xl text-purple">
                        <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-g</title><path d="M336,208V113a80,80,0,0,0-160,0v95" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><rect x="96" y="208" width="320" height="272" rx="48" ry="48" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></rect></svg>
                      </div>
                      <h3 class="fw-normal text-dark mt-4">
                        2-step verification
                      </h3>
                      <p class="mt-4 mb-1">
                        We sent a verification code to your phone.
                      </p>
                      <p>
                        Please enter the code in the field below.
                      </p>
                        
                      <div class="row mt-4 pt-2">
                        <div class="col">
                          <input #otp1 (ngModelChange)="moveToNext(otp2)" type="text" [(ngModel)]="otpdata['1']" class="form-control1 form-control-lg text-center py-4" maxlength="1" autofocus="">
                        </div>
                        <div class="col">
                          <input #otp2 (ngModelChange)="moveToNext(otp3)" type="text" [(ngModel)]="otpdata['2']" class="form-control1 form-control-lg text-center py-4" maxlength="1">
                        </div>
                        <div class="col">
                          <input #otp3 (ngModelChange)="moveToNext(otp4)" type="text" [(ngModel)]="otpdata['3']" class="form-control1 form-control-lg text-center py-4" maxlength="1">
                        </div>
                        <div class="col">
                          <input #otp4 type="text" [(ngModel)]="otpdata['4']" class="form-control1 form-control-lg text-center py-4" maxlength="1">
                        </div>
                      </div>
            
                      <a (click)="veryClient()" class="trk-btn trk-btn--border trk-btn--secondary1 d-block mt-4">
                        <div *ngIf="isLoading" class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div><div *ngIf="!isLoading">Verify my account</div>
                      </a>
                      <a routerLink="/login" class="text-center text-muted mt-10" style="margin-top: 10px;">Skip for Now</a>
                    </div>
                  </div>
            
                  <p class="text-center text-muted mt-4">
                    Didn't receive it?
                    <a (click)="resendSMS()" class="text-decoration-none ms-2">
                      Resend code
                    </a>
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===============>> account end here <<================= -->